{% extends "base.html" %}


{% block content %}

<h3> {{todo.title}}</h3>
{{todo.created}}<hr><br>
<small>{{todo.body}}</small>
<hr>
 
<a href='{% url "delete" todo.id %}' class="btn btn-danger">Delete</a>

{% comment %} <a href="{% url "delete" todo_id.id %}">Delete</a> {% endcomment %}
{% comment %} <button type="button" class="btn btn-primary" onclick="location.href='https://www.google.com';"=>Delete</button> {% endcomment %}

{% comment %} <a href="{% url "deletes" todo_id.id %}">Delete</a> {% endcomment %}

{% endblock content %}





